*-maven-repository.zip
*.tmp
.idea
.notes
.trash~
/.work/
/cache/
/clusters.zip
/clusters/
/logs/
/ocp-installers/
/okd-installers/
/secrets.env
/workflow-cache/
/workflow-results/
/PROJECT_INDEX.json
/PROJECT_INDEX.md
