name: "[Infra] Provision and configure artifact OCP cluster"
run-name: "[Infra] Provision and configure artifact OCP cluster ${{ inputs.cluster-name }}"
on:
  workflow_dispatch:
    inputs:
      cluster-name:
        type: string
        description: Cluster name
        default: art
        required: true
      skip-provisioning:
        type: boolean
        description: Skip cluster provisioning and use an existing cluster
        default: false
        required: false

jobs:

  provision-cluster:
    name: Provision artifact OCP cluster ${{ inputs.cluster-name }}
    if: >-
      !inputs.skip-provisioning
    uses: ./.github/workflows/infra-provision-cluster.yaml
    with:
      cluster-name: ${{ inputs.cluster-name }}
      cluster-version: "4.20"
      control-nodes: 3
      compute-nodes: 2
      force: true
    secrets: inherit

  configure-cluster:
    name: Configure artifact OCP cluster ${{ inputs.cluster-name }}
    runs-on: ubuntu-latest
    needs: provision-cluster
    if: needs.provision-cluster.result == 'success' || inputs.skip-provisioning
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Load test cache
        run: |
          ./load-cache.sh --token "${{ secrets.ACCESS_TOKEN }}"

      - name: Install OpenShift CLI
        run: |
          mkdir -p $HOME/bin
          curl -sLO https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable/openshift-client-linux.tar.gz
          tar -xzf openshift-client-linux.tar.gz
          mv oc kubectl $HOME/bin
          rm openshift-client-linux.tar.gz
          echo "$HOME/bin" >> $GITHUB_PATH
          $HOME/bin/oc version --client

      - name: Install Image Registry
        run: |
          ./install-image-registry.sh --cluster ${{ inputs.cluster-name }}

      - name: Install Sharry
        run: |
          ./install-sharry.sh --cluster ${{ inputs.cluster-name }}

      - name: Save cluster state
        uses: ./.github/actions/save-cluster-state
        if: always()
