name: "[Infra] Provision OCP cluster"
run-name: "[Infra] Provision OCP ${{ inputs.cluster-version }} cluster ${{ inputs.cluster-name }}"
on:
  workflow_dispatch:
    inputs:
      cluster-name:
        type: string
        description: Cluster name
        required: true
      control-nodes:
        type: number
        description: Number of control nodes (3 is recommended for resiliency, but we can use 1 for short-lived clusters).
        default: 3
        required: true
      compute-nodes:
        type: number
        description: Number of compute nodes (minimum of 2 is recommended).
        default: 2 # Lowered default to 2 to reduce resource usage. TODO: Monitor test performance and increase if needed.
        required: true
      cluster-version:
        type: choice
        description: OCP version to install
        options:
          - "4.16"
          - "4.19"
        required: true
        default: "4.19"
      force:
        type: boolean
        description: |
          Force the provisioning. This can happen for example if cluster data has remained in the cache
          after the cluster has been automatically deleted. (In that case, do not forget to manually delete
          the old DNS records in the apicurio-testing.org hosted zone in AWS Route53).
        required: true
        default: false
  # Same parameters as above, see the descriptions.
  workflow_call:
    inputs:
      cluster-name:
        type: string
        required: true
      control-nodes:
        type: number
        required: true
      compute-nodes:
        type: number
        required: true
      cluster-version:
        type: string
        required: true
      force:
        type: boolean
        required: true

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_DEFAULT_REGION: "us-east-1"
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  DOCKER_EMAIL: ${{ secrets.DOCKER_EMAIL }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  DOCKER_SERVER: ${{ secrets.DOCKER_SERVER }}
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  OPENSHIFT_PULL_SECRET: ${{ secrets.OPENSHIFT_PULL_SECRET }}
  SSH_PUBLIC_KEY: ${{ secrets.SSH_PUBLIC_KEY }}

concurrency:
  group: infra-provision-cluster-${{ inputs.cluster-name }}
  cancel-in-progress: true

jobs:

  provision-cluster:
    name: Provision OpenShift ${{ inputs.cluster-version }}
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:

      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Load test cache
        run: |
          ./load-cache.sh --token "${{ secrets.ACCESS_TOKEN }}"

      - name: Install OpenShift cluster
        run: |
          if [ "${{ inputs.force }}" = "true" ]; then
            INSTALL_ARGS="--force"
          else
            INSTALL_ARGS=""
          fi
          ./install-cluster.sh --cluster ${{ inputs.cluster-name }} \
              --ocpVersion ${{ inputs.cluster-version }} \
              --controlPlaneNodes ${{ inputs.control-nodes }} \
              --computeNodes ${{ inputs.compute-nodes }} \
              --log-level warn \
              $INSTALL_ARGS

      - name: Install OpenShift Docker Pull Credentials
        run: |
          ./configure-pull-secret.sh --cluster ${{ inputs.cluster-name }}

      - name: Save cluster state
        uses: ./.github/actions/save-cluster-state
