name: "[Test] Test RHBOAR Operator with OLM"
on:
  workflow_dispatch:
    inputs:
      cluster-name:
        type: string
        description: Cluster name
        required: true
      skip-cluster-install:
        type: boolean
        description: Skip cluster installation
        required: true
        default: false
      cluster-version:
        type: string
        description: Cluster version (if not skipping cluster installation)
        required: false
        default: "4.19"
      artifact-cluster-name:
        type: string
        description: Artifact cluster name
        required: true
      downstream-catalog-image:
        type: string
        description: Downstream catalog image for the given version of OCP, e.g. image-registry-infra.apps.art.apicurio-testing.org/rh-osbs/iib:1234567
        required: true

jobs:

  record-start-time:
    runs-on: ubuntu-latest
    outputs:
      start-time: ${{ steps.get-start-time.outputs.start-time }}
    steps:

      - name: Get Workflow Start Time
        id: get-start-time
        run: |
          START_TIME=$(date -u +%Y-%m-%dT%H:%M:%SZ)
          echo "start-time=$START_TIME" >> $GITHUB_OUTPUT
          echo "Workflow start time: $START_TIME"

  provision-cluster:
    name: Provision cluster
    uses: ./.github/workflows/provision-cluster.yaml
    if: ${{ inputs.skip-cluster-install == false }}
    with:
      cluster-name: ${{ inputs.cluster-name }}
      cluster-version: ${{ inputs.cluster-version }}
      compute-nodes: 2
      force: true

  configure-image-registry:
    name: Configure Image Registry
    runs-on: ubuntu-latest
    needs: provision-cluster
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Load test cache
        run: |
          ./load-cache.sh --token "${{ secrets.ACCESS_TOKEN }}"

      - name: Configure Image Registry Pull Secret
        run: |
          mkdir cache/tmp
          export DOCKER_CONFIG=cache/tmp/.docker
          cat "cache/clusters/${{ inputs.artifact-cluster-name }}/image-registry-login" | bash
          ./update-pull-secret.sh --cluster "${{ inputs.cluster-name }}" --docker-config $DOCKER_CONFIG

      - name: Save cluster state
        uses: ./.github/actions/save-cluster-state
        if: always()



# TODO: Notify
